:root{
    --textcolor: #ffffff;
    --bgcolor: rgb(32, 35, 46);
    --blue: #004aad;
}

body{
    font-family: Roboto, Arial;
}

article{
    color: var(--textcolor);
    font-size: 30px;
    margin-bottom: 250px;
}

a{
    text-decoration: none;
    

}

a:visited{
    color: white;
}

.nav-link{
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 30px;
    flex: 1;
    border-bottom: 1px solid white;
    font-size: 25px;
    white-space: nowrap;
    margin-top: 0;
    margin-bottom: 0;
    width: 300px;
    flex-grow: 1;
}

.nav-link:hover{
    color: var(--blue);
}

.info-text{
    color: white;
}

.info{
    display: grid;
    grid-template-columns: 36px 1fr;
    align-items: center;
}

.info:hover svg, .info:hover p{
    fill: var(--blue);
    stroke: var(--blue);
    color: var(--blue);
}